html {
  /* background-color: #6f86d4; */
  background-color: black;
  background-image: url(https://raw.githubusercontent.com/acfromspace/infinitygauntlet/master/very-cool-stuff/vaporwave.gif);
  background-size: cover;
  font-size: 10px;
  height: 100vh;
  touch-action: manipulation;
}

body,
html {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
}

kbd {
  display: block;
  font-size: 4rem;
}

/* Links */
a {
  color: #4caf50;
}

.box {
  display: inline-block;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  color: #4caf50;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
  text-shadow: 0 0 0.5rem black;
  transition: all 0.07s ease;
  width: 10rem;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(192, 192, 192, 0.5); */
  background-image: url(./images/cutekitty.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  /* Thank goodness this worked */
  text-align: center;
}

#page {
  display: none;
}

.playing {
  background: #d81b60;
  border-color: #d81b60;
  box-shadow: 0 0 1rem #d81b60;
  transform: scale(1.1);
}

.row {
  display: flex;
}

/* The text underneath the key */
.sound {
  color: #d81b60;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.title {
  align-items: center;
  color: #4caf50;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

/* What would show on mobile devices (less than 800px width) */
@media screen and (max-width: 800px) {
}
