html {
  font-size: 10px;
  /* Problem is setting a square image to be stretched */
  /* background-image: url(https://i.imgur.com/gLUdeQV.gif); */
  background-color: #6f86d4;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

kbd {
  display: block;
  font-size: 4rem;
}

.normal {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.row {
  /* Something */
}

.box {
  display: inline-block;
}

.main {
  /* Thank goodness this worked */
  text-align: center;
}

/* What would show on mobile devices (less than 800px width) */
@media only screen and (max-width: 800px) {
  .mobile {
    /* Nothing here yet */
  }
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  display: inline-block;
}

.playing {
  transform: scale(1.1);
  border-color: #4caf50;
  box-shadow: 0 0 1rem #4caf50;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #4caf50;
}
