html {
  background-color: #6f86d4;
  background-image: url(https://raw.githubusercontent.com/acfromspace/infinitygauntlet/master/very-cool-stuff/vaporwave.gif);
  background-size: cover;
  font-size: 10px;
  height: 100vh;
  touch-action: manipulation;
}

body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

kbd {
  display: block;
  font-size: 4rem;
}

a {
  color: white;
}

.normal {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
}

.box {
  display: inline-block;
}

.main {
  /* Thank goodness this worked */
  text-align: center;
}

/* What would show on mobile devices (less than 800px width) */
@media screen and (max-width: 800px) {
}

.key {
  background: rgba(0, 0, 0, 0.4);
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  color: #4caf50;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
  text-shadow: 0 0 0.5rem black;
  transition: all 0.07s ease;
  width: 10rem;
}

.playing {
  background: #d81b60;
  border-color: #d81b60;
  box-shadow: 0 0 1rem #d81b60;
  transform: scale(1.1);
}

/* The text underneath the key */
.sound {
  color: #d81b60;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
